#container {
    margin: auto;
    width: 800px;
    height: 400px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: space-between;
    position: relative;
}

#navigation {
    width: 100%;
    margin-bottom: 10px;
    flex-flow: wrap;
    justify-content: center;
}

#play-pause {
    position: absolute;
}

form {
    display: flex;
    justify-content: center;
}

#right,
#left,
input {
    cursor: pointer;
}

#right,
#left {
    width: 10%;
    margin-top: 20%;
    color: azure;
    font-size: 3em;
}

#right {
    transform: rotate(-180deg);
    margin-top: 0;
}

#hover-radio {
    display: none;
    width: 12%;
    height: 12%;
    background: url(../img/00.jpg);
    background-size: cover;
    position: absolute;
    top: 80%;
    left: 34%;
}